<!DOCTYPE html>
<html lang="en">
<head th:insert="~{head :: head}">
</head>
<body>
<div th:replace="~{navigation :: navbar}"></div>

<div class="page">
    <h1 class="page-headline">Members</h1>
    <section id="members">
        <table>
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Member since</th>
            </thead>
            <tbody>
                <tr th:each="member: ${entities}">
                    <td>
                        <a href="/web/members/id" th:href="@{/web/members/{id}(id=${member.id})}">
                            <span th:text="${member.lastName + ', ' + member.firstName}"></span>
                        </a>
                    </td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.phone}"></td>
                    <td th:text="${member.mobile}"></td>
                    <td th:text="${#dates.format(member.memberSince, 'dd.MM.yyyy')}"></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>
