:root {
    --color-main: aqua;
    --color-main-dark: rgba(0, 255, 255, 0.80);
    --color-accent: aquamarine;
    --color-accent-dark: #23473b;
    --color-bg: #f1f1f1;
    --color-border: #ccc;

    --color-font-main: #333;

    --white: #fff;
}

html {
    background-color: var(--color-bg);
    font-family: sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6, article, section, div, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 0.5rem 0.5rem 1.5rem;
    text-transform: uppercase;
}

h2 {
    background-color: var(--color-main);
    padding: 0.25rem 0.5rem;
    display: inline-block;
}

h2 a {
    color: var(--color-font-main);
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    background: var(--white);
    padding: 0 1rem;
    height: 66px;
}

.navigation-bar {
    flex-grow: 1;
}

.page {
    padding: 1rem;
}

.card {
    background-color: var(--white);
    border: 1px solid var(--color-border);
    padding: 1.5rem 1rem;
}

.profile {
    position: relative;
    max-width: 200px;
}
.profile__details {
    position: absolute;
    display: none;
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid var(--color-border);
    right: 0.5rem;
    top: 89%;
}

.profile__image {
    width: 36px;
    height: 36px;
}

.profile__details:hover,
.profile__image:hover + .profile__details {
    display: block;
}

.article {

}

.article + .article {
    margin-top: 2rem;
}

.article__headline {
    margin-bottom: 0.5rem;
}

.article__meta {
    padding: 0.25rem 0.5rem;
}

.article__content {
    padding: 0.25rem 0.5rem;
}

.button, input[type=button], input[type=submit] {
    background-color: var(--color-main);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    margin-top: 1.5rem;
    cursor: pointer;
}

.button:hover, input[type=button]:hover, input[type=submit]:hover {
    background-color: var(--color-main-dark);
}

.form-field + .form-field {
    margin-top: 1rem;
}

.form-field label {
    display: block;
    font-weight: 400;
    padding-bottom: 0.25rem;
}

.form-field input {
    padding: 0.5rem;
}

.form-field input[readonly] {
    background-color: #eee;
    color: #555;
    border: 1px solid var(--color-border);
}
